@page "/municipalidad"

<PageTitle>Municipalidad</PageTitle>
<main>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->

        <div class="max-w-3xl mx-auto">
            <a class="font-serif text-lg">Municipalidad de Colca</a>
            <br>
            <img src="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/portada2.jpg" alt="">
            <!-- Content goes here -->
        </div>
    </div>
    <br>
    <div class="max-w-5xl mx-auto sm:px-6 lg:px-8">
        <a class="font-mono text-lg">Misión Institucional</a>
        <br>
        <p>
            Brindar servicios de calidad promoviendo el desarrollo integral y sostenible del distrito de Miraflores a
            través de una gestión participativa e innovadora con transparencia.
        </p>
        <!-- Content goes here -->
        <br>

        <a class="font-mono text-lg">Visión Institucional</a>
        <br>
        <p>
            Los vecinos de Miraflores anhelamos, al 2030, constituir una comunidad modelo en la que se goce de una alta
            calidad de vida. Ser una ciudad concertadora, sostenible, segura, acogedora, y con comercio y servicios de
            calidad. Miraflores es además reconocida a nivel nacional e internacional como uno de los principales
            atractivos de la Metrópoli.
        </p>
        <!-- Content goes here -->
        <br>

        <a class="font-mono text-lg">Valores Institucionales</a>
        <br>
        <p>
          Responsabilidad: En Miraflores los parámetros y normas se cumplen, actuando con la firme disposición de asumir las consecuencias de las decisiones propias y respondiendo a ellas.
        </p>
         <br>
        <p>
            Honestidad: Desempeñar nuestras funciones honestamente en un clima de rectitud, esmero y confianza.
        </p>
         <br>
        <p>
            Compromiso: Autoridades y colaboradores comprometidos en servir y dar lo mejor con una superación constante. 
        </p>
         <br>
        <p>
            Ética: En cada decisión que tomemos, estará inmiscuida siempre la ética, como uno de nuestros cimientos de conducta moral.
        </p>
         <br>
        <p>
            Respeto: Predomina el buen trato y reconocimiento de los trabajadores, ciudadanos, proveedores y gobierno, con el medio ambiente y demás entorno social.
        </p>
         <br>
        <p>Transparencia: Proceder con veracidad e información abierta y oportuna.

        </p>
    </div>
     <br>

</main>