@page "/obras"

<PageTitle>Obras</PageTitle>
<main>
    <div class="bg-white">
        <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
            <h2 class="sr-only">Products</h2>
            <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
                <MvObras Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/apoyo.jpg"
                    Titulo="Apoyo a la comunidad de Laria"
                    Descripcion="Debido al friaje, la municipalidad de Colca llevo frazadas al centro poblado de Laria.">
                </MvObras>

                <MvObras Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/estudiantes.jpg"
                    Titulo="Donación de implemento escolar"
                    Descripcion="Como la educación es la base del futuro, el alcalde Jose Luis Cerrón Nastares conjuntamente con su plana de regidores, realizan la donacion de implementos de estudios al jardín de niños ''Gotitas de Rocio'' .">
                </MvObras>

                <MvObras Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/apoyoPension.jpg"
                    Titulo="Apoyo al distrito de Colca"
                    Descripcion="El alcalde del distrito de Colca, conjuntamente con las autoridades locales y en convenio con el ministerio de salud, hizo llegar el apoyo alimentario a los compueblanos del distrito de Colca.">
                </MvObras>
            </div>
            <br>
            <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
                <MvObras Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/Parco.jpg"
                    Titulo="Reforestación"
                    Descripcion="Se realiza la reforestación con más 3 mil pinos en el paraje de Parco juntamente con las comunidades vecinas de Chiche y Santa Cruz.">
                </MvObras>

                <MvObras Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/ayudaSocial.jpg"
                    Titulo="Apoyo a familias de extrema pobreza"
                    Descripcion="En cordinación con jovenes voluntarios del distrito de Colca se pudo ayudar con canastas basicas a mas de 10 familias de nuestros anexos que viven en condiciones deprecarías. ">
                </MvObras>

                <MvObras Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/Riego.jpeg"
                    Titulo="Implementos de riego"
                    Descripcion="Juntamente con el programa FONCODES se pudo realizar la entrega de implementos de riego a los beneficiarios de dicha entidad.">
                </MvObras>
            </div>
            <br>
            <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
                <MvObras Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/Sanja.jpg"
                    Titulo="Delimitación de coliendas"
                    Descripcion="En coordinación con autoridades locales y población en general del distrito de colca, se realizó la delimitación de la colienda entre el distrito de Colca y el distrito de Laria.">
                </MvObras>

                <MvObras Url_IMG="https://scontent.ftru5-1.fna.fbcdn.net/v/t1.6435-9/91814547_694843531263821_3168825445059657728_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFwYLqXJ9B3VkLU9Vo3moUpbc4sy_GPjNJtzizL8Y-M0uFOpdc2Clt4WaE4gT91ZgNNOCKhwX9Vr9CHny4w_4JG&_nc_ohc=fOqF8545LScAX8fdB-a&_nc_ht=scontent.ftru5-1.fna&oh=00_AT_bXD22GDJstzqUcgwPaCMbKFl4ApGwlbc3JYZyc6piFw&oe=6320805A"
                    Titulo="Cobro de intensivos "
                    Descripcion="Se apoyo a los usuarios de programa pensión 65 en sus cobros de sus intensivos, en el cual se les brindo movilidad y se designo un asistente para que pueda ayudarlos en el proceso bancario.">
                </MvObras>

                <MvObras Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/Junta.jpg"
                    Titulo="Seguridad ciudadana"
                    Descripcion="Gracias al apoyo de ciudadanos comprometidos con el distrito se designo responsables de seguridad ciudadana debido a atentados de secuestros.">
                </MvObras>
            </div>
        </div>
    </div>

</main>