@page "/turismo"

<PageTitle>Turismo</PageTitle>
<div class="bg-white">
    <div class="py-16 sm:py-24 xl:max-w-7xl xl:mx-auto xl:px-8">
        <div class="px-4 sm:px-6 sm:flex sm:items-center sm:justify-between lg:px-8 xl:px-0">
            <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Centros Turisticos</h2>
        </div>

        <div class="mt-4 flow-root">
            <div class="-my-2">
                <div class="box-content py-2 relative h-80 overflow-x-auto xl:overflow-visible">
                    <div
                        class="absolute min-w-screen-xl px-4 flex space-x-8 sm:px-6 lg:px-8 xl:relative xl:px-0 xl:space-x-0 xl:grid xl:grid-cols-5 xl:gap-x-8">
                        <MvTurismo Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/carhua.jpg" Titulo="Mirador"></MvTurismo>
                    <MvTurismo Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/Inchu.jpg" Titulo="Inchu"></MvTurismo>
                     <MvTurismo Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/Wali.jpeg" Titulo="Wali"></MvTurismo>
                   
                     <MvTurismo Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/Inchu1.jpg" Titulo="Cañon de Inchu"></MvTurismo>
                    <MvTurismo Url_IMG="https://almacenamientoarchivo.blob.core.windows.net/archivoscolca/milla.jpg" Titulo="Alfa Corral"></MvTurismo>
                    
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>